<div class="navbar ">
  <div class="container-fluid">

    <p>BOOKMARKS INDEX not used</p>
    <%= link_to "Add a bookmark", "bookmarks/new", class: "nav-link btn btn-outline-primary" %>
  </div>
</div>
